<div class="container">
    <fieldset>
        <legend> Informations du recepteur </legend>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="nom">
        </div>
        
        <div class="form-group">
            <input type="text" class="form-control" placeholder="prenom">
        </div>
        
        <div class="form-group">
            <input type="text" class="form-control" placeholder="téléphone">
        </div>
        
        <div class="form-group">
            <input type="text" class="form-control" placeholder="cni">
        </div>
        
      <!--  <div class="form-group">
                <input class="btn btn-primary" type="submit" value="valider"> 
            </div>
        -->
    </fieldset>
</div>


