<div class="container">

    <fieldset>
        <legend> Informations de l'opération </legend>
        
        <div class="form-group">
            <input type="number" class="form-control" name="montant" id="montant" placeholder="montant">
        </div>
        
        <div class="form-group">
            <input type="datetime-local" name="date" id="date">
        </div>
        
      <!---->  <div class="form-group">
            <input class="btn btn-primary" type="submit" value="valider">
        </div>
        
    </fieldset>
</div>



